<!DOCTYPE html>

<html>
<head>
	
	<title>Escala de lawton y brody</title>
    <link rel="stylesheet" type="text/css" href="css/css.css">
    <link rel="icon" href="img/html.png">
    <meta charset="utf-8">

	<font face= "Time new roman">


</head>


<body>


			<ul class="menu">


	<li class="current"><a href="index.html">Programa Gerontológico Adulto Mayor</a></li>
	<li><a href="Ficha.html">Ficha De Matricula</a></li>
	<li><a href="Historia.html">Historia Gerontológica</a></li>
	<li ><a href="Valoraciones.html">Valoraciones Biopsicosociales</a></li>
    <li ><a href="instrumento.html">Instrumento</a></li>
	<li><a href="visitas.html">Visitas Domiciliarias</a></li>
			
	
   <div>
        <img src="img/alcaldias.png" alt="Logo del encabezado" width="1"/>
    </div>
           </ul>

<form action="" class="formulario" id= "formulario">
<h1>ESCALA DE DEPRESIÓN GERIÁTRICA DE YESAVAGE FICHA N° 3d </h1>
<br>

<h1>Escala de Yesavage (Screening de Depresión)</h1><br>

Nombre del Usuario:<input type="text" name="nombre_usuario"><br>
Zona:<input type="text" name="zona"><br>
Distrito:<input type="text" name="distrito"><br>	
Modalidad de Atención:<input type="text" name="modalidad_atencion"><br>
Nombre de la Unidad de Atención:<input type="text" name="lugar_atencion"><br>
Edad-Años:<input type="text" name="edad_anual"><br>		
Edad-Meses:<input type="text" name="edad_meses"><br>

Fecha de aplicación:  <input type="text" name="fecha_aplicacion"><br>	
Aplicado por: <input type="text" name="aplicado_por"><br>



<TABLE BORDER="1"width="80%" height="50" align= "center">
<tr><td><h2>INSTRUCCIONES:</h2></td><td></td></tr>
<tr><td><h2>Responda a cada una de las siguientes preguntas según como se ha sentido usted durante la ÚLTIMA SEMANA <h2></td><td><h2>-Seleccione-</h2></td></t>

<tr><td><b>1.</b> ¿Está usted básicamente satisfecho con su vida?</td> 
<td><select name="satisfecho_vida" style="width: 80px";>
	<option value="SI">SI</option>
	<option value="NO">NO</option>
	<option value="si">si</option>
	<option value="no">no</option>
</select></td></tr>
<tr><td><b>2.</b> ¿Ha disminuido o abandonado muchos de sus intereses o actividades previas?</b></td>
<td><select name="intereses_actividades" style="width: 80px";>
	<option value="SI">SI</option>
	<option value="NO">NO</option>
	<option value="si">si</option>
	<option value="no">no</option>

</select></td></tr>
<tr><td><b>3.</b> ¿Siente que su vida está vacía?</b></td>
<td><select name="vida_vacia" style="width: 80px";>
	<option value="SI">SI</option>
	<option value="NO">NO</option>
	<option value="si">si</option>
	<option value="no">no</option>

</select></td></tr>
<tr><td><b>4.</b>¿Se siente aburrido frecuentemente?</td>
<td><select name="aburrido_frecuentemente" style="width: 80px";>
	<option value="SI">SI</option>
	<option value="NO">NO</option>
	<option value="si">si</option>
	<option value="no">no</option>

</select></td></tr>
<tr><td><b>5.</b> ¿Está usted de buen ánimo la mayoría del tiempo?</td>
<td><select name="animo_todo_tiempo" style="width: 80px";>
	<option value="SI">SI</option>
	<option value="NO">NO</option>
	<option value="si">si</option>
	<option value="no">no</option>
</select></td></tr>


<tr><td><b>6.</b> ¿Está preocupado o teme que algo malo le va a pasar?</td>
<td><select name="preocupado_malo" style="width: 80px";>
	<option value="SI">SI</option>
	<option value="NO">NO</option>
	<option value="si">si</option>
	<option value="no">no</option>

</select></td></tr>
<tr><td><b>7.</b> ¿Se siente feliz la mayor parte del tiempo?</td>
<td><select name="feliz_tiempo" style="width: 80px";>
	<option value="SI">SI</option>
	<option value="NO">NO</option>
	<option value="si">si</option>
	<option value="no">no</option>

</select></td></tr>
<tr><td><b>8.</b> ¿Se siente con frecuencia desamparado?</td>
<td><select name="frecuencia_desamparado" style="width: 80px";>
	<option value="SI">SI</option>
	<option value="NO">NO</option>
	<option value="si">si</option>
	<option value="no">no</option>

</select></td></tr>

<tr><td><b>9.</b> ¿Prefiere usted quedarse en casa a salir a hacer cosas nuevas?</td>
<td><select name="cosas_nuevas" style="width: 80px";>
	<option value="SI">SI</option>
	<option value="NO">NO</option>
	<option value="si">si</option>
	<option value="no">no</option>
</select></td></tr>
<tr><td><b>10.</b> ¿Siente usted. que tiene más problemas con su memoria que otras personas de su
edad?</td>
<td><select name="problemas_memoria" style="width: 80px";>
	<option value="SI">SI</option>
	<option value="NO">NO</option>
	<option value="si">si</option>
	<option value="no">no</option>
</select></td></tr>
<tr><td><b>11.</b> ¿Cree Ud. que es maravilloso estar vivo?</td>
<td><select name="maravilloso_vivo" style="width: 80px";>
	<option value="SI">SI</option>
	<option value="NO">NO</option>
	<option value="si">si</option>
	<option value="no">no</option>
</select></td></tr>
<tr><td><b>12.</b> ¿Se siente inútil o despreciable como está Ud. actualmente?</td>
<td><select name="inutil_desprecio" style="width: 80px";>
	<option value="SI">SI</option>
	<option value="NO">NO</option>
	<option value="si">si</option>
	<option value="no">no</option>
</select></td></tr>

<tr><td><b>13.</b> ¿Se siente lleno de energía?</td>
<td><select name="lleno_energia" style="width: 80px";>
	<option value="SI">SI</option>
	<option value="NO">NO</option>
	<option value="si">si</option>
	<option value="no">no</option>
</select></td></tr>
<tr><td><b>14.</b> ¿Se encuentra sin esperanza ante su situación actual?</td>
<td><select name="situacion_actual" style="width:  80px";>
    <option value="SI">SI</option>
	<option value="NO">NO</option>
	<option value="si">si</option>
	<option value="no">no</option>
</select></td></tr>
<tr><td><b>15.</b>¿Cree usted que las otras personas están en general mejor que Usted?</td>
<td><select name="percepcion" style="width: 80px";>
	<option value="SI">SI</option>
	<option value="NO">NO</option>
	<option value="si">si</option>
	<option value="no">no</option>
</select></td></tr>
<tr><td><h2>las respuestas que indican depresión estan en mayúsculas. Cada una de estas respuestas cuenta 1 punto.
</td><td><h2>TOTAL: <input type="text" name="total_todo "></h2></h2></td></tr>
</TABLE>


<br>
<h2>DATOS DEL EVALUADOR</h2>
<br>
Nombre: <input type="text" name="nombre_funcionario"><br>

Cargo: <input type="text" name="cargo"><br> 

Registro profesional: <input type="text" name="registro_profesional">

<br>

<p> <i><h3>Sheik JI, Yesavage JA Geriatric Depression Scale: recent evidence and development of a shorter version. Clin Gerontol. 1986; 5:165-172.</i></p></h3>
 
<br>


<table BORDER="1"width="50%" height="50">
 


<tr><td><h2>INSTRUCTIVO:</h2></td><td></td></tr>
<tr><td><h2>Puntuación total: 15 puntos </h2></td><td><h2>PUNTOS DE CORTE:</h2></td></tr>
<tr><td>No depresión</td><td>0-5 puntos</td></tr>
<tr><td>Probable depresión</td><td>6-9 puntos</td></tr>
<tr><td>Depresión establecida</td><td>10-15 puntos</td></tr>
</table>


<table BORDER="1"width="50%" height="50">
 


<tr><td><h2><center>Normas de aplicación:</center></h2></td></tr>
<tr><td>El evaluador lee las preguntas al paciente sin realizar interpretaciones de los ítems y dejando claro al paciente que la respuesta no debe ser muy meditada). La respuesta debe ser “sí” o “no” y debe referirse a cómo se ha sentido el paciente la semana anterior.</td></tr>
</table>

<br>

<p><i><h3>Aguado c, Martínez j, Onís mc et al.(2000). adaptación y validación al castellano de la versión abreviada de la “Geriatric Depresión scale” (gds) de Yesavage. atención primaria, 26 (supl 1): 328.</i> </p></h3>
<br>

<input type="submit" name="Guardar">
<input type="reset" name="Limpiar">

<footer>
  <div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-6 text-left">
           
        
 
        
    
   <div style="text-align: center;">
        <img src="img/alcaldias.png" alt="Logo del encabezado" width="500"/>
    </div>

</nav>
</div>
</div>
</div>
</footer>



</form>
</body>

</html>