
<!DOCTYPE html>
<html>

<head>
	
	<title>Escala de lawton y brody</title>
    <link rel="stylesheet" type="text/css" href="css/css.css">
    <link rel="icon" href="img/html.png">
    <meta charset="utf-8">
    <font face= "Time new roman">

    

</head>


<body>

			<ul class="menu">


	<li class="current"><a href="index.html">Programa Gerontológico Adulto Mayor</a></li>
	<li><a href="Ficha.html">Ficha De Matricula</a></li>
	<li><a href="Historia.html">Historia Gerontológica</a></li>
	<li ><a href="Valoraciones.html">Valoraciones Biopsicosociales</a></li>
    <li ><a href="instrumento.html">Instrumento</a></li>
	<li><a href="visitas.html">Visitas Domiciliarias</a></li>
			
	
   <div>
        <img src="img/alcaldias.png" alt="Logo del encabezado" width="1"/>
    </div>
          </ul>



    <form action="" class="formulario" id= "formulario">
		 <p><h1>ESCALA DE LAWTON Y BRODY</h1><p>
		 	<p><h1>(ACTIVIDADES INSTRUMENTALES DE LA VIDA DIARIA)</h1></p>
<h1>FICHA N° 3b</h1>
Nombre del Usuario:	<input type="text" name="nombre_usuario"><br>	
Zona:<input type="text" name="zona"><br>	
Distrito:<input type="text" name="distrito"><br>	
Modalidad de Atención:<input type="text" name="modalidad_atencion"><br>
Lugar de Atención:<input type="text" name="lugar_atencion"><br>

Edad-Años:<input type="text" size= "15 " name="edad_anual"><br><br> Edad-Meses:<input type="text" name="edad_meses"><br>	
Fecha de aplicación:<input type="text" name="fecha_aplicacion"><br>	
Aplicado por:<input type="text" name="aplicado_por"><br>

<p>A continuación encontrará 8 ítems correspondientes a actividades instrumentales de la vida diaria. Lea en voz alta las alternativas pertenecientes a cada una de ellas y solicite a la persona evaluada que escoja la que más coincida con la realidad de la persona adulta mayor.
La información se obtiene preguntando directamente al usuario o a su cuidador principal.</p>
<br>
<TABLE BORDER="1"width="70%" height="60" align= "center">
<tr><td><h2> 1. CAPACIDAD PARA USAR EL TELEFONO: </h2></td><td><h2>Seleccione</h2><b></b></td></tr>

<tr><td>- Utiliza el teléfono por iniciativa propia</td>
<td><select name="capacidad_telefono" style="width: 80px";>
	<option value="0">0</option>
	<option value="1">1</option>
</select></td></tr>
<tr><td>- Es capaz de marcar bien algunos números familiares</td><td><select name="marcar_numeros" style="width: 80px";>
	<option value="0">0</option>
	<option value="1">1</option>
</select></td></tr>
<tr><td>- Es capaz de contestar al teléfono, pero no de marcar</td><td><select name="contestar_telefono" style="width: 80px";>
	<option value="0">0</option>
	<option value="1">1</option>
</select></td>
<tr><td>- No utiliza el teléfono</td><td><select name="utiliza_telefono" style="width: 80px";>
	<option value="0">0</option>
	<option value="1">1</option>
</select></td>
<tr><td><b> TOTAL <b></td><td><select name="total_uno" style="width: 80px";>
	<option value="0">0</option>
	<option value="1">1</option>
	<option value="2">2</option>
	<option value="3">3</option>
	<option value="4">4</option>
</select></td>


<tr><td><h2> 2. HACER COMPRAS: </h2></td><td><b></b></td></tr>

<tr><td>- Realiza todas las compras necesarias independientemente</td><td><select name="realiza_compras_necesarias" style="width: 80px";>
	<option value="0">0</option>
	<option value="1">1</option>
</select></td></tr>
<tr><td>- Realiza independientemente pequeñas compras</td><td><select name="compras_independiente" style="width: 80px";>
	<option value="0">0</option>
	<option value="1">1</option>
</select></td></tr>
<tr><td>- Necesita ir acompañado para cualquier compra</td><td><select name="acompanado_compra" style="width: 80px";>
	<option value="0">0</option>
	<option value="1">1</option>
</select></td>
<tr><td>- Totalmente incapaz de comprar</td><td><select name="incapaz_comprar" style="width: 80px";>
	<option value="0">0</option>
	<option value="1">1</option>
</select></td>
<tr><td><b> TOTAL <b></td><td><select name="total_dos" style="width: 80px";>
	<option value="0">0</option>
	<option value="1">1</option>
	<option value="2">2</option>
	<option value="3">3</option>
	<option value="4">4</option>
</select></td>


<tr><td><h2> 3. PREPARACIÓN DE LA COMIDA:  </h2></td><td><b></b></td></tr>
<tr><td>- Organiza, prepara y sirve las comidas por si solo adecuadamente</td><td><select name="organiza_comida" style="width: 80px";>
	<option value="0">0</option>
	<option value="1">1</option>
</select></td></tr>
<tr><td>- Prepara adecuadamente las comidas si se le proporcionan los ingredientes</td><td><select name="adecuadamente_comida" style="width: 80px";>
	<option value="0">0</option>
	<option value="1">1</option>
</select></td></tr>
<tr><td>- Prepara, calienta y sirve las comidas, pero no sigue una dieta adecuada</td><td><select name="sirve_comida" style="width: 80px";>
	<option value="0">0</option>
	<option value="1">1</option>
</select></td>
<tr><td>- Necesita que le preparen y sirvan las comidas</td><td><select name="necesita_comida" style="width: 80px";>
	<option value="0">0</option>
	<option value="1">1</option>
</select></td>
<tr><td><b> TOTAL <b></td><td><select name="total_tres" style="width: 80px";>
	<option value="0">0</option>
	<option value="1">1</option>
	<option value="2">2</option>
	<option value="3">3</option>
	<option value="4">4</option>
</select></td>


<tr><td><h2> 4. CUIDADO DE LA CASA: </h2></td><td><b></b></td></tr>

<tr><td>- Mantiene la casa solo o con ayuda ocasional (para trabajos pesados)</td><td><select name="mantiene_casa_solo" style="width: 80px";>
	<option value="0">0</option>
	<option value="1">1</option>
</select></td></tr>
<tr><td>- Realiza tareas ligeras, como lavar los platos o hacer las camas</td><td><select name="realiza_tareas_ligeras" style="width: 80px";>
	<option value="0">0</option>
	<option value="1">1</option>
</select></td></tr>
<tr><td>- Realiza tareas ligeras, pero no puede mantener un adecuado nivel de limpieza</td><td><select name="nivel_bajo_limpieza" style="width: 80px";>
	<option value="0">0</option>
	<option value="1">1</option>
</select></td>
<tr><td>- Necesita ayuda en todas las labores de casa</td><td><select name="ayuda_labores" style="width: 80px";>
	<option value="0">0</option>
	<option value="1">1</option>
</select></td></tr>
<tr><td>- No participa en ninguna labor de la casa</td><td><select name="no_labora_casa" style="width: 80px";>
	<option value="0">0</option>
	<option value="1">1</option>
</select></td>
<tr><td><b> TOTAL <b></td><td><select name="total_cuatro" style="width: 80px";>
	<option value="0">0</option>
	<option value="1">1</option>
	<option value="2">2</option>
	<option value="3">3</option>
	<option value="4">4</option>
</select></td>


<tr><td><h2> 5. LAVADO DE LA ROPA: </h2></td><td><b></b></td></tr>
<tr><td>- Lava por sí solo toda la ropa</td><td><select name="lava_ropa" style="width: 80px";>
	<option value="0">0</option>
	<option value="1">1</option>
</select></td></tr>
<tr><td>- Lava por sí solo pequeñas prendas</td><td><select name="lava_pequenas_prendas" style="width: 80px";>
	<option value="0">0</option>
	<option value="1">1</option>
</select></td></tr>
<tr><td>- Todo el lavado de ropa debe ser realizado por otro</td><td><select name="lava_otro" style="width: 80px";>
	<option value="0">0</option>
	<option value="1">1</option>
</select></td>
<tr><td><b> TOTAL <b></td><td><select name="total_cinco" style="width: 80px";>
	<option value="0">0</option>
	<option value="1">1</option>
	<option value="2">2</option>
	<option value="3">3</option>
	<option value="4">4</option>
</select></td>


<tr><td><h2> 6. USO DE MEDIOS DE TRANSPORTE: </h2></td><td><b></b></td></tr>
<tr><td>- Viaja solo en transporte público o conduce su propio coche</td><td><select name="viaja_solo" style="width: 80px";>
	<option value="0">0</option>
	<option value="1">1</option>
</select></td></tr>
<tr><td>- Es capaz de coger un taxi, pero no usa otro medio de transporte</td><td><select name="coge_taxi" style="width: 80px";>
	<option value="0">0</option>
	<option value="1">1</option>
</select></td></tr>
<tr><td>- Viaja en transporte público cuando va acompañado por otra persona</td><td><select name="transporte_publico" style="width: 80px";>
	<option value="0">0</option>
	<option value="1">1</option>
</select></td>
<tr><td>- Utiliza el taxi o el automóvil sólo con la ayuda de otros</td><td><select name="utiliza_automovil" style="width: 80px";>
	<option value="0">0</option>
	<option value="1">1</option>
</select></td></tr>
<tr><td>- No viaja</td><td><select name="no_viaja" style="width: 80px";>
	<option value="0">0</option>
	<option value="1">1</option>
</select></td>
<tr><td><b> TOTAL <b></td><td><select name="total_seis" style="width: 80px";>
	<option value="0">0</option>
	<option value="1">1</option>
	<option value="2">2</option>
	<option value="3">3</option>
	<option value="4">4</option>
</select></td>


<tr><td><h2> 7. RESPONSABILIDAD RESPECTO A SU MEDICACIÓN: </h2></td><td><b></b></td></tr>
<tr><td>- Es capaz de tomar su medicación a la dosis y hora adecuada</td><td><select name="medicacion_solo" style="width: 80px";>
	<option value="0">0</option>
	<option value="1">1</option>
</select></td></tr>
<tr><td>- Toma su medicación si la dosis es preparada previamente</td><td><select name="medicacion_previa" style="width: 80px";>
	<option value="0">0</option>
	<option value="1">1</option>
</select></td></tr>
<tr><td>- No es capaz de administrarse su medicación</td><td><select name="no_administra_medicacion" style="width: 80px";>
	<option value="0">0</option>
	<option value="1">1</option>
</select></td>
<tr><td><b> TOTAL <b></td><td><select name="total_siete" style="width: 80px";>
	<option value="0">0</option>
	<option value="1">1</option>
	<option value="2">2</option>
	<option value="3">3</option>
	<option value="4">4</option>
</select></td>


<tr><td><h2> 8. CAPACIDAD PARA UTILIZAR DINERO: </h2></td><td><b></b></td></tr>
<tr><td>-Se encarga de sus asuntos económicos por si solo</td><td><select name="economicos_solo" style="width: 80px";>
	<option value="0">0</option>
	<option value="1">1</option>
</select></td></tr>
<tr><td>-Realiza las compras de cada día, pero necesita ayuda con las grandes compras y en los bancos</td><td><select name="compras_ayuda" style="width: 80px";>
	<option value="0">0</option>
	<option value="1">1</option>
</select></td></tr>
<tr><td>-Incapaz de manejar dinero</td><td><select name="economicos_ayuda" style="width: 80px";>
	<option value="0">0</option>
	<option value="1">1</option>
</select></td>
<tr><td><b> TOTAL <b></td><td><select name="total_ocho" style="width: 80px";>
	<option value="0">0</option>
	<option value="1">1</option>
	<option value="2">2</option>
	<option value="3">3</option>
	<option value="4">4</option>
</select></td>

<tr><td><h2> TOTAL: </h2></td><td><b><select name="total_todo" style="width: 80px";>
	<option value="0">0</option>
	<option value="1">1</option>
	<option value="2">2</option>
	<option value="3">3</option>
	<option value="4">4</option>
	<option value="5">5</option>
	<option value="6">6</option>
	<option value="7">7</option>
	<option value="8">8</option>
</select></td></b></td></tr> 

</TABLE>

<p><h2>Puntuación total: 8 puntos. </h2></p>
<br>
<i><h3>Tomado de: Trigás-Ferrín M, Ferreira-González L, Meijide-Míguez H. Escalas de valoración funcional en el anciano. Galicia Clin 2011;  72 (1):11-16 Recibido: 15/10/2011; Aceptado:03/01/2011 </i></h3>
<br>
<TABLE BORDER="1"width="70%" height="50" align="center">

<tr><td><h2>En mujeres (8 funciones):</h2></td><td><h2>En hombres (5 funciones):</h2></td></tr>
<tr><td>Dependencia total 0-1</td><td>Dependencia total 0</td></tr>
<tr><td>Dependencia grave 2-3</td><td>Dependencia grave 1</td></tr>
<tr><td>Dependencia moderada 4-5</td><td>Dependencia moderada 2-3</td></tr>
<tr><td>Dependencia ligera 6-7</td><td>Dependencia ligera 4</td></tr>
<tr><td>Autónoma 8.</td><td>Autónomo 5.</td></tr>

</TABLE>


<TABLE BORDER="1"width="70%" height="50" align="center">

<tr><td>La diferencia de puntaje se da porque en las tareas domésticas es donde más se nota la tradición, las mujeres que son ahora adultas mayores, han tenido mayor responsabilidad a la hora de cocinar, lavar la ropa y arreglar la casa o hacer el aseo de la misma. Es por ello que, en las respuestas más independientes de cada uno de estos ítems, son las mujeres las que poseen mayor porcentaje y tiene un mayor nivel de organización para su realización. En cambio, algunos hombres necesitarían ayuda de otra persona o supervisión, para realizar estas actividades y esto no está relacionado con su nivel de dependencia o independencia sino más bien con su tradición cultural. 2
Las 5 funciones valoradas en hombres son:</td></tr>

<tr><td><b>1.</b>	CAPACIDAD PARA USAR EL TELEFONO:</td></tr>
<tr><td><b>2.</b>	HACER COMPRAS:</td></tr>
<tr><td><b>6.</b>	USO DE MEDIOS DE TRANSPORTE </td></tr>
<tr><td><b>7.</b>	RESPONSABILIDAD RESPECTO A SU MEDICACIÓN:</td></tr>
<tr><td><b>8.</b>	CAPACIDAD PARA UTILIZAR DINERO </td></tr>
<br>

<p><h2>DATOS DEL EVALUADOR</h2></p>

Nombre: <input type="text" name="nombre_funcionario"><br>

Cargo: <input type="text" name="cargo"><br> 

Registro profesional: <input type="text" name="registro_profesional"><br> 



<p><i><h3>Tomado de: Acosta G. María C. (2013). Capacidad funcional en las personas mayores según el género. (Trabajo de fin de grado). Recuperado de: https://uvadoc.uva.es/bitstream/10324/4794/4/tfg-h8.pdf</i></p></h3>
<br>
<TABLE BORDER="1"width="70%" height="50" align="center">
<tr><td><h2>INSTRUCTIVO</h2></td>
<tr><td><h2>ESCALA DE LAWTON Y BRODY</h2></td>
<tr><td><p>Publicada en 1969 y desarrollada en el Philadelphia Geria-tric Center para evaluación de autonomía física y AIVD (actividades instrumentales de la vida diaria) en población anciana institucionalizada o no. La escala de Lawton es uno de los instrumentos de medición de AIVD más utilizado internacionalmente y la más utilizada en las unidades de geriatría de España, sobre todo a nivel de consulta y hospital de día. Su traducción al español se publicó en el año 1993.

Una gran ventaja de esta escala es que permite estudiar y analizar no sólo su puntuación global sino también cada uno de los ítems.

Ha demostrado su utilidad como método objetivo y breve que permite implantar y evaluar un plan terapéutico tanto a nivel de los cuidados diarios de los pacientes como a nivel docente e investigador. Es muy sensible para detectar las primeras señales de deterioro de la persona adulta mayor. </p></td>

<tr><td><h2>Descripción y normas de aplicación:</h2></td>
<tr><td><p> Evalúa la capacidad funcional mediante 8 ítems: capacidad para utilizar el teléfono, hacer compras,  preparar la comida, realizar el cuidado de la casa, lavado de la ropa, utilización de los medios de transporte  y responsabilidad respecto a la medicación y administración de su economía. A cada ítem se le asigna un valor numérico 1 (independiente) o 0 (dependiente). La puntación final es la suma del valor de todas las respuestas y oscila entre 0 (máxima dependencia) y 8 (independencia total). La información se obtiene preguntando directamente al individuo o a su cuidador principal. El tiempo medio requerido para su realización es de 4 minutos.

Cualquier miembro del equipo puede aplicar esta escala pero debe estar motivado, concienciado y entrenado.</p> </td>

<tr><td><h2>Fiabilidad, validez y limitaciones:</h2></td>
<tr><td><p>Presenta un coeficiente de reproductividad inter e intraobservador alto (0.94). No se han reportado datos de fiabilidad. Su principal limitación es la influencia de aspectos culturales y del entorno sobre las variables que estudia, siendo necesario adaptarlas al nivel cultural de la persona.

Algunas actividades requieren ser aprendidas o de la presencia de elementos externos para su realización. Las actividades instrumentales son difíciles de valorar en pacientes institucionalizados por las limitaciones impuestas por el entorno social propio del centro.

No todas las personas poseen la misma habilidad ante un mismo grado de complejidad y la puntuación de diversos parámetros de la escala puede reflejar ciertas limitaciones sociales más que el verdadero grado de capacidad del individuo. Se considera una escala más apropiada para las mujeres puesto que muchas de las actividades que mide la escala han sido realizadas tradicionalmente por ellas pero también se recomienda su aplicación en hombres aunque todavía están pendientes de identificar aquellas actividades instrumentales realizadas por ellos según los patrones sociales.</p></td></tr>
</table> 


<p><i><h3>Tomado de: Olazarán, J., et al. (2005). Validez clínica de dos escalas de actividades instrumentales en la enfermedad de Alzheimer. Neurología, 20 (8), 395-401.</i></p></h3>
<br>
<input type="submit" name="Guardar">
<input type="reset" name="Limpiar">
  

  <footer >
  <div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-6 text-left">
           
        
 
        
    
   <div style="text-align: center;">
        <img src="img/alcaldias.png" alt="Logo del encabezado" width="500"/>
    </div>

</nav>

</div>
</div>
</div>
</footer>
        </form>
		</body>
		</html>