<!DOCTYPE html>

<html>
<head>
	
	<title>Escala de lawton y brody</title>
    <link rel="stylesheet" type="text/css" href="css/css.css">
    <link rel="icon" href="img/html.png">
    <meta charset="utf-8">
    <font face= "Time new roman">


</head>


<body>

			<ul class="menu">


	<li class="current"><a href="index.html">Programa Gerontológico Adulto Mayor</a></li>
	<li><a href="Ficha.html">Ficha De Matricula</a></li>
	<li><a href="Historia.html">Historia Gerontológica</a></li>
	<li ><a href="Valoraciones.html">Valoraciones Biopsicosociales</a></li>
    <li ><a href="instrumento.html">Instrumento</a></li>
	<li><a href="visitas.html">Visitas Domiciliarias</a></li>
			
	
   <div>
        <img src="img/alcaldias.png" alt="Logo del encabezado" width="1"/>
    </div>
             </ul>
<form action="" class="formulario" id= "formulario">
<h1>MINI EXAMEN DEL ESTADO MENTAL </h1>
<h1>(Folstein et al. 1975)</h1>
<br>
<h1>FICHA N° 3c </h1>
<br>

Nombre del Usuario:	<input type="text" name="nombre_usuario"><br>	
Zona:<input type="text" name="zona"><br>	
Distrito:<input type="text" name="distrito"><br>
Modalidad de Atención:<input type="text" name="modalidad_atencion"><br>
Nombre de la Unidad de Atención:<input type="text" name="lugar_atencion"><br>
Edad-Años:<input type="text" name="edad_anual"><br>		
Edad-Meses:<input type="text" name="edad_meses"><br>	
Fecha de aplicación:<input type="text" name="fecha_aplicacion"><br>	
Aplicado por:<input type="text" name="aplicado_por"><br>


<TABLE BORDER="1"width="70%" height="60" align= "center">
<tr><td><h2>1. ORIENTACIÓN EN EL TIEMPO<h2></td><td width="200"><h2>Seleccione</h2></td></tr>
<tr><td>En qué día estamos (fecha):</td><td><select name="dia_estamos" style="width: 80px";>
	<option value="0">0</option>
	<option value="1">1</option>
</select></td></tr>
<tr><td>En qué mes:</td><td><select name="mes_estamos" style="width: 80px";>
	<option value="0">0</option>
	<option value="1">1</option>
</select></td></tr>
<tr><td>En qué año:</td><td><select name="ano_estamos" style="width: 80px";>
	<option value="0">0</option>
	<option value="1">1</option>
</select></td></tr>
<tr><td>En qué día de la semana:</td><td><select name="dia_semana" style="width: 80px";>
	<option value="0">0</option>
	<option value="1">1</option>
</select></td></tr>
<tr><td>¿Qué hora es aproximadamente?:</td><td><select name="hora_estamos" style="width: 80px";>
	<option value="0">0</option>
	<option value="1">1</option>
</select></td></tr>
<tr><td><h2>Puntuación: (máx. 5)</h2></td><td><select name="puntuacion_uno" style="width: 80px";>
	<option value="0">0</option>
	<option value="1">1</option>
	<option value="2">2</option>
	<option value="3">3</option>
	<option value="4">4</option>
	<option value="5">5</option>
</select></td></tr>

</TABLE>


<TABLE BORDER="1"width="70%" height="60" align= "center">
<tr><td><h2>2. ORIENTACIÓN EN EL TIEMPO</h2></td><td width="200"><h2>Seleccione</h2></tr>
<tr><td>¿En qué día estamos (fecha)?:</td><td><select name="dia_estamos_dos" style="width: 80px";>
	<option value="si">0</option>
	<option value="no">1</option>
</select></td></tr>
<tr><td>¿En qué mes?:</td><td><select name="mes_estamos_dos" style="width: 80px";>
	<option value="si">0</option>
	<option value="no">1</option>
</select></td></tr>
<tr><td>¿En qué año?:</td><td><select name="ano_estamos_dos" style="width: 80px";>
	<option value="si">0</option>
	<option value="no">1</option>
</select></td></tr>
<tr><td>¿En qué día de la semana?:</td><td><select name="dia_semana_dos" style="width: 80px";>
	<option value="si">0</option>
	<option value="no">1</option>
</select></td></tr>
<tr><td>¿Qué hora es aproximadamente?:</td><td><select name="hora_estamos_dos" style="width: 80px";>
	<option value="si">0</option>
	<option value="no">1</option>
</select></td></tr>
<tr><td><h2>Puntuación: (máx. 5)</h2></td><td><select name="puntuacion_dos" style="width: 80px";>
	<option value="si">0</option>
	<option value="no">1</option>
	<option value="si">2</option>
	<option value="no">3</option>
	<option value="si">4</option>
	<option value="no">5</option>
</select></td></tr>
</TABLE>		


<TABLE BORDER="1"width="70%" height="60" align= "center">
<tr><td><h2>3. ORIENTACIÓN EN EL ESPACIO</h2></td><td width="200"><h2>Seleccione</h2></td></tr>
<tr><td>¿En qué lugar estamos ahora?:</td><td><select name="lugar_estamos" style="width: 80px";>
	<option value="0">0</option>
	<option value="1">1</option>
</select></td></tr>
<tr><td>¿En qué piso o departamento estamos ahora?:</td><td><select name="departamento_estamos" style="width: 80px";>
	<option value="0">0</option>
	<option value="1">1</option>
</select></td></tr>
<tr><td>¿Qué barrio o parroquia es este?:</td><td><select name="barrio_actual" style="width: 80px";>
	<option value="0">0</option>
	<option value="1">1</option>
</select></td></tr>
<tr><td>¿En qué ciudad estamos?:</td><td><select name="ciudad_estamos" style="width: 80px";>
	<option value="0">0</option>
	<option value="1">1</option>
</select></td></tr>
<tr><td>¿En qué país estamos?:</td><td><select name="pais_estamos" style="width: 80px";>
	<option value="0">0</option>
	<option value="1">1</option>
</select></td></tr>
<tr><td><h2>Puntuación: (máx. 5)</h2></td><td><select name="puntuacion_tres" style="width: 80px";>
	<option value="0">0</option>
	<option value="1">1</option>
	<option value="2">2</option>
	<option value="3">3</option>
	<option value="4">4</option>
	<option value="5">5</option>
</select></td></tr>
</TABLE>


<TABLE BORDER="1"width="70%" height="60" align= "center">
<tr><td><h2>4. MEMORIA</h2></td><td width="200"><h2>Seleccione</h2></td></tr>
<tr><td>CONSIGNA: “Le voy a decir el nombre de tres objetos, cuando yo termine quiero que por favor usted los repita”.
<p>*Pronuncie claramente las palabras, una cada segundo, luego pídale a persona adulta mayor, que las repita.</p>
<p>Otorgue un punto por cada respuesta correcta. Se repiten las palabras hasta que la persona se las aprenda</p> 
<p>(máx. 6 ensayos) 
pero únicamente se puntúa la primera repetición o ensayo.</p></td><td><select name="repeticion_ensayo" style="width: 80px";>
	<option value="0">0</option>
	<option value="1">1</option>
</select></td></tr>

<tr><td>Papel:</td><td><select name="papel" style="width: 80px";>
	<option value="0">0</option>
	<option value="1">1</option>
</select></td></tr>
<tr><td>Bicicleta:</td><td><select name="bicicleta" style="width: 80px";>
	<option value="0">0</option>
	<option value="1">1</option>
</select></td></tr>
<tr><td>Cuchara:</td><td><select name="cuchara" style="width: 80px";>
	<option value="0">0</option>
	<option value="n1o">1</option>
</select></td></tr>
<tr><td><h2>Puntuación: (máx. 3)</h2></td><td><select name="puntuacion_cuatro" style="width: 80px";>
	<option value="0">0</option>
	<option value="1">1</option>
	<option value="2">2</option>
	<option value="3">3</option>
	
</select></td></tr>
</TABLE>

<br>
<p><i><h3>Tomado de: Reyes, S., Beaman, P, García-Peña, C., Villa, M. A., Heres, J., Córdova, A. y Jagger, C. (2004). Validation of a modified version of the Mini-Mental State Examination (MMSE) in Spanish. Aging Neuropsychology and Cognition, 11, 1-11 </i></p></h3>

<br>

<TABLE BORDER="1"width="70%" height="60" align= "center">
<tr><td><h2>5. ATENCIÓN Y CÁLCULO:</h2></td><td width="200"><h2>Seleccione</h2></td></tr>
<tr><td>CONSIGNA: “Le voy a pedir que reste de 7 en 7 a partir del 100”.</td><td></td></tr>
<tr><td>93</td><td><select name="uno" style="width: 80px";>
	<option value="0">0</option>
	<option value="1">1</option>
</select></td></tr>
<tr><td>86</td><td><select name="dos" style="width: 80px";>
	<option value="0">0</option>
	<option value="1">1</option>
</select></td></tr>
<tr><td>79</td><td><select name="tres" style="width: 80px";>
	<option value="0">0</option>
	<option value="1">1</option>
</select></td></tr>
<tr><td>72</td><td><select name="cuatro" style="width: 80px";>
	<option value="0">0</option>
	<option value="1">1</option>
</select></td></tr>
<tr><td>65</td><td><select name="cinco" style="width: 80px";>
	<option value="0">0</option>
	<option value="1">1</option>
</select></td></tr>
<tr><td><h2>Puntuación: (máx. 5)</h2></td><td><select name="puntuacion_cinco" style="width: 80px";>
	<option value="0">0</option>
	<option value="1">1</option>
	<option value="2">2</option>
	<option value="3">3</option>
	<option value="4">4</option>
	<option value="5">5</option>
</select></td></tr>
</TABLE>

<TABLE BORDER="1"width="70%" height="60" align= "center">
<tr><td><h2>6.  MEMORIA DIFERIDA</h2></td><td width="200"><h2>Seleccione</h2></td></tr>
<tr><td>CONSIGNA: “Dígame los 3 objetos que le mencioné al principio”.</td><td></td></tr>
<tr><td>Papel</td><td><select name="papel_uno" style="width: 80px";>
	<option value="0">0</option>
	<option value="1">1</option>
</select></td></tr>
<tr><td>Bicicleta</td><td><select name="bicicleta_dos" style="width: 80px";>
	<option value="0">0</option>
	<option value="1">1</option>
</select></td></tr>
<tr><td>Cuchara</td><td><select name="cuchara_tres" style="width: 80px";>
	<option value="0">0</option>
	<option value="1">1</option>
</select></td></tr>
<tr><td><h2>Puntuación: (máx. 3)</h2></td><td><select name="puntuacion_seis" style="width: 80px";>
	<option value="0">0</option>
	<option value="1">1</option>
	<option value="2">2</option>
	<option value="3">3</option>



</select></td></tr>
</TABLE>


<TABLE BORDER="1"width="70%" height="60" align= "center">
<tr><td><h2>7. DENOMINACIÓN</h2></td><td width="200"><h2>Seleccione</h2></td></tr>
<tr><td>Mostrarle un lápiz o un bolígrafo y preguntar ¿qué es esto?</td><td><select name="mostrarle_lapiz" style="width: 80px";>
	<option value="0">0</option>
	<option value="1">1</option>
</select></td></tr>
<tr><td>Mostrarle un reloj y preguntar ¿qué es esto?</td><td><select name="mostrarle_reloj" style="width: 80px";>
	<option value="0">0</option>
	<option value="1">1</option>
</select></td></tr>
<tr><td><h2>Puntuación: (máx. 2)</h2></td><td><select name="puntuacion_siete" style="width: 80px";>
	<option value="0">0</option>
	<option value="1">1</option>
	<option value="2">2</option>


</select></td></tr>
</TABLE>

<TABLE BORDER="1"width="70%" height="60" align= "center">
<tr><td><h2>8. REPETICIÓN DE UNA FRASE</h2></td><td width="200"><h2>Seleccione</h2></td></tr>
<tr><td>CONSIGNA: “Ahora le voy a decir una frase que tendrá que repetir después de mí. 
<p>Solo se la puedo decir una vez, así que ponga mucha atención”.</p></td><td></td></tr>
<tr><td>"ni sí, ni no, ni pero”	</td><td><select name="consigna" style="width: 80px";>
	<option value="0">0</option>
	<option value="1">1</option>
</select></td></tr>
<tr><td><h2>Puntuación: (máx. 1)</h2></td><td>
	<select name="puntuacion_ocho" style="width: 80px";>
	<option value="0">0</option>

</select>
</td></tr>
</TABLE>

<TABLE BORDER="1"width="70%" height="60" align= "center">
<tr><td><h2>9. COMPRENSIÓN – EJECUCIÓN DE ORDEN</h2></td><td width="200"><h2>Seleccione</h2></td></tr>
<tr><td>CONSIGNA: “Le voy a dar unas instrucciones. Por favor sígalas en el orden en que las voy a decir. 
<p>Solo las puedo decir una vez”: <p><i> “tome este papel con la mano derecha, dóblelo por la mitad y déjelo en el suelo”</i></p></p></td><td></td></tr>
<tr><td>Tome este papel con la mano derecha	</td><td><select name="comprension_ejecucion" style="width: 80px";>
	<option value="0">0</option>
	<option value="1">1</option>
</select></td></tr>
<tr><td>Dóblelo por la mitad</td><td><select name="doblar_mitad" style="width: 80px";>
	<option value="0">0</option>
	<option value="1">1</option>
</select></td></tr>
<tr><td>Déjelo en suelo</td><td><select name="dejelo_suelo" style="width: 80px";>
	<option value="0">0</option>
	<option value="1">1</option>
</select></td></tr>
<tr><td><h2>Puntuación: (máx. 3)</h2></td><td><select name="puntuacion_nueve" style="width: 80px";>
	<option value="si">0</option>
	<option value="no">1</option>
	<option value="si">2</option>
	<option value="no">3</option>

</select></td></tr>
</TABLE>
	<option value="1">1</option>


<TABLE BORDER="1"width="70%" height="60" align= "center">
<tr><td><h2>10. LECTURA</h2></td><td width="200"><h2>Seleccione</h2></td></tr>
<tr><td>Escriba legiblemente en un papel "cierre los ojos". 

<p>Pídale a la persona adulta mayor que lo lea y que haga lo que dice la frase</p></td><td><select name="pidale_leer" style="width: 80px";>
	<option value="0">0</option>
	<option value="1">1</option>
</select></td></tr>
<tr><td><h2>Puntuación: (máx. 1)</h2></td><td><select name="puntuacion_diez" style="width: 80px";>
	<option value="0">0</option>
	<option value="1">1</option>

</select></td></tr>
</TABLE>


<TABLE BORDER="1"width="70%" height="60" align= "center">
<tr><td><h2>11. ESCRITURA</h2></td><td width="200"><h2>Seleccione</h2></td></tr>
<tr><td>CONSIGNA: “Quiero que por favor escriba una frase que diga un mensaje”</td><td><select name="escriba_frase" style="width: 80px";>
	<option value="0">0</option>
	<option value="1">1</option>
</select></td></tr>
<tr><td><h2>Puntuación: (máx. 1)</h2></td><td><select name="puntuacion_once" style="width: 80px";>
	<option value="0">0</option>
	<option value="1">1</option>
</select></td></tr>
</TABLE>


<TABLE BORDER="1"width="70%" height="60" align= "center">

<tr><td><h2>12. COPIA DE UN DIBUJO</h2></td><td width="200"><h2>Seleccione</h2></td></tr>
<tr><td>CONSIGNA: “Copie por favor este dibujo tal como está”</td><td><select name="copie_dibujo" style="width: 80px";>
	<option value="0">0</option>
	<option value="1">1</option>
</select></td></tr>
<tr><td><h2>Puntuación: (máx. 1)</h2></td><td><select name="puntuacion_doce" style="width: 80px";>
	<option value="0">0</option>
	<option value="1">1</option>

</select></td></tr>
<tr><td><h2>Puntuación total: (máx. 30 puntos)</h2></td><td><input type="text" name="puntuacion_total"></td></tr>
</TABLE>


<br>
<h2>DATOS  DEL EVALUADOR</h2>
<br>

Nombre: <input type="text" name="nombre_funcionario"><br>

Cargo: <input type="text" name="cargo"><br> 

Registro profesional: <input type="text" name="registro_profesional"><br> 



<p></p>

<TABLE BORDER="1"width="70%" height="50"align= "center">
 

<tr><td></td><td><h2> <center>PUNTUACIONES DE REFERENCIA:</center></td></h2></tr>
<tr><td>27- 30	</td><td>Normal</td></tr>
<tr><td>24 - 26	</td><td>Sospecha Patológica</td></tr>
<tr><td>12-23	</td><td>Deterioro</td></tr>
<tr><td>9-11	</td><td>Demencia</td></tr>

</TABLE>
<br>

<TABLE BORDER="1"width="70%" height="50" align="center">
<tr><td><b><h2><center>INTERPRETACIÓN DEL RESULTADO ATENDIENDO A LA EDAD Y NIVEL DE ESTUDIOS</h2></b></td></tr>
<tr><td>En el caso de que la aplicación del presente test se realice a personas adultas mayores en condición de analfabetismo o con bajo nivel de escolaridad, se debe adaptar la puntuación utilizando la siguiente tabla</td></tr>
<tr><td>En estos casos lo que se debe hacer es tomar la puntación total y sumar o restar los valores indicados en la tabla tomando en cuenta la edad y el nivel de estudios o escolaridad de la persona adulta mayor. Y se procede a comparar este resultado con las puntuaciones de referencia. Por ejemplo:

Si el usuario tiene 78 años de edad, un nivel de 4 años de estudios y obtuvo una puntuación final de 22 puntos, tomando en cuenta lo indicado en la tabla se le debe sumar 2 puntos a su puntación final que le daría un total de 24 puntos que dentro de las puntuaciones de referencia corresponde a un estado de sospecha patológica.</tr>

</TABLE>


<br>
<TABLE BORDER="1"width="70%" height="50" align="center">
<tr><td><b></b></td><td><h2>Edad (años)</h2><td><h2></b></h2><td><h2></h2></td></tr>
<tr><td><h2>Escolaridad</h2></td><td><h2>Menos de 50</b></h2><td><h2>51-75</h2></td><td><h2>Más de 75</h2></td></tr>
<tr><td>Menos de 8 años de estudio</td><td>0</td><td>+1</td><td>+2</td></tr>
<tr><td>De 9 a 17 años de estudio</td><td>-1</td><td>0</td><td>+1</td></tr>
<tr><td>Más de 17 años de estudio</td><td>-2</td><td>-1</td><td>0</td></tr>
</TABLE>
<br>	

 <TABLE BORDER="1"width="70%" height="60" align= "center">

<tr><td><p><H2><center>MINI-EXAMEN DEL ESTADO MENTAL (MEEM O MINI- MENTAL) DE ACUERDO A LA VERSIÓN DE REYES ET AL. (2004) INSTRUCTIVO </H2> </center></p></td></tr>
</TABLE>


<TABLE BORDER="1"width="70%" height="60" align= "center">

<tr><td><h2>REACTIVOS</h2></td><td><h2>INSTRUCCIONES PARA LA ADMINISTRACIÓN</h3></td></tr>
<tr><td><h2>Orientación en el tiempo (5 puntos) Orientación en el lugar (5 puntos)</h2></td><td>Pregunte la fecha del día de hoy. Luego pregunte específicamente por los datos omitidos.
Calificación: 1 punto por cada respuesta correcta</td></tr>
<tr><td><h2>Memoria (3 puntos)</h2></td><td>Diga las tres palabras de manera clara y lenta, una por segundo. Al terminar pida su repetición y otorgue un punto por cada palabra correctamente repetida en el primer intento.
Al terminar continúe diciéndolas hasta que el paciente pueda repetirlas (mínimo 3 repeticiones, máximo 6).
Si luego de seis repeticiones no logra aprenderlas no aplique el
recuerdo.</td></tr>
<tr><td><h2>Atención y cálculo (5 puntos)</h2></td><td>Puede apoyarse de la pregunta ¿Cuánto es 100 menos 7?... menos 7?, etc. Evite mencionar la cifra de la cual se está
restando, es decir “93 menos 7 o 86 menos 7”, etc., a menos que sea indispensable para que la prueba continúe. Dé un punto por cada resta correcta.</td></tr>
<tr><td><h2>Memoria diferida (3 puntos)</h2></td><td>Otorgue un punto por cada palabra correctamente evocada.</td></tr>
<tr><td><h2>Denominación (1 punto)</h2></td><td>Evite que el usuario tome los objetos a menos que exista debilidad visual importante, trate de que la información llegue sólo por la vía visual.
Se otorga un punto por cada objeto denominado correctamente.</td></tr>
<tr><td><h2>Repetición de una frase (1 punto)</h2></td><td>Diga la oración una sola vez de forma clara y lenta pero sin
fragmentar la oración. Califique con base en este único ensayo. Dé un punto si la repetición es correcta.</td></tr>
<tr><td><h2>Comprensión – ejecución de orden (3 puntos)</h2></td><td>Mientras da la consigna mantenga el papel a la vista del paciente pero no permita que lo tome antes de que usted termine de dar las órdenes. Realice un solo ensayo y otorgue un punto por cada acción correctamente realizada.</td></tr>
<tr><td><h2>Lectura (1 punto)</h2></td><td>Otorgue un punto sólo si la persona adulta mayor ejecuta la acción. Si únicamente lee la frase puntúe 0.</td></tr>
<tr><td><h2>Escritura (1 punto)</h2></td><td>Utilice una hoja blanca. La frase debe ser escrita espontáneamente, no dicte ninguna oración. Debe contener sujeto, verbo y predicado. No califique ortografía.</td></tr>
<tr><td><h2>Copia de un dibujo. </h2></td><td>Deben estar presentes 10 ángulos y dos intersecciones. Ignore temblor o rotación.</td></tr>

</TABLE>
<br>
<p><i><h3>Tomado de: https://www.villaneuropsicologia.com/uploads/1/4/4/5/14457670/mini_examen_del_estado_mental.pdf</i></p><h3> 
<br>
<input type="submit" name="Guardar">
<input type="reset" name="Limpiar">

<footer style="height: 50%">
  <div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-6 text-left">
           
        
 
        
    
   <div style="text-align: center;">
        <img src="img/alcaldias.png" alt="Logo del encabezado" width="500"/>
    </div>

</nav>
</div>
</div>
</div>
</footer>


 

</form>
</body>

</html>