<!DOCTYPE html>

<html>
<head>
	
	<title>FICHA DE MATRÍCULA</title>
    <link rel="stylesheet" type="text/css" href="css/css.css">
    <link rel="icon" href="img/html.png">
    <meta charset="utf-8">
    <font face= "Time new roman">

</head>


<body>

			
			<ul class="menu">


	<li class="current"><a href="index.html">Programa Gerontológico Adulto Mayor</a></li>
	<li><a href="Ficha.html">Ficha De Matricula</a></li>
	<li><a href="Historia.html">Historia Gerontológica</a></li>
	<li ><a href="Valoraciones.html">Valoraciones Biopsicosociales</a></li>
    <li ><a href="instrumento.html">Instrumento</a></li>
	<li><a href="visitas.html">Visitas Domiciliarias</a></li>
	
			
	
   <div>
        <img src="img/alcaldias.png" alt="Logo del encabezado" width="1"/>
    </div>
    </ul>
<form action="" class="formulario" id= "formulario">

<H1>FICHA DE RENOVACIÓN DE MATRÍCULA</H1>

Nombre del programa: </td><td><input type="text" name="nombre_programa">
Fecha de digilenciamiento DD/MM/AA:<input type="text" name="fecha_digilenciamiento">
VIGENCIA:<input type="text" name="vigencia">

<h2>DATOS DEL USUARIO:</h2>
<br>
Tipo de identificación:
<br>
<select name="tipo_identificacion" style="width: 400px";>
	<option value="seleccione">--Seleccione--</option>
	<option value="cc">CC</option>
	<option value="nis">NIS</option>
	<option value="ce">CE</option>
	<option value="t">T</option>
</select>



<br>
Nombre de identificación:<input type="text" name="numero_identificacion"><br> 
Fecha de expedición DD/MM/AA:<input type="text" name="fecha_expedicion"><br> 
Dpto/ Municipio de expedición: <input type="text" name="dpto_municipio_expedicion"><br>
Nombres: <input type="text" name="nombre"><br>
Primer apellido: <input type="text" name="primer_apellido"><br>
Segundo apellido:<input type="text" name="segundo_apellido"><br> 
Edad: <input type="text" name="edad"><br>

<h2>
ACTUALIZACIÓN DE DATOS DE UBICACIÓN Y CONTACTO: </h2>
<br>
Dirección de domicilio: <input type="text" name="direccion_residencial"><br>
Departamento: <input type="text" name="departamento"><br>
Municipio:<input type="text" name="municipio"><br>
Barrio/vereda :<input type="text" name="barrio_vereda"><br>
Teléfono: <input type="text" name="telefono"><br>
Celular:<input type="text" name="celular"><br> 
Nombre del familiar o acudiente a contactar: <input type="text" name="nombre_familiar_acudiente"><br>

<h2>
ACTUALIZACIÓN DE DATOS DE FAMILIARES O ACUDIENTES: </h2>
<br>
Nombres y apellidos: <input type="text" name="nombres_apellidos"><br>
Parentesco: <input type="text" name="parentesco"><br>
Dirección de domicilio: <input type="text" name="direccion_domicilio"><br>
Teléfono: <input type="text" name="telefono"><br>
Barrio o vereda: <input type="text" name="barrio_vereda"><br>
Celular : <input type="text" name="celular"><br>
Observaciones: 
<input id="text"style="width: 650px; height: 150px" size="32" name="observaciones"><br>

<h2>
ACTUALIZACIÓN DE INFORMACIÓN EN SALUD: </h2>
<br>
Régimen de afiliación a salud:
<br> 
<select name="regimen_afiliacion" style="width: 400px";>
	<option value="seleccione">--Seleccione--</option>
	<option value="Subsidiado">Subsidiado</option>
	<option value="Contributivo">Contributivo</option>
</select>
<br>
EPS:<input type="text" name="eps"><br> 
Sin afiliación: <input type="text" name="sin_afiliacion"><br>
Diagnóstico médico:<input type="text" name="diagnostico_medico"><br>
Entidad que certifica el diagnóstico: <input type="text" name="entidad_certifica"><br>
Observaciones médicas: 
<input id="text"style="width: 650px; height: 150px" size="32" name="observaciones_medicas"><br>

<h2>
COMPROMISOS Y CONDICIONES GENERALES</h2>
<br>

<li>Participar y acompañar los eventos programados por la secretaría de inclusión Social y Familia. </li>
<li>Asistir puntualmente a las actividades en el horario y los días establecidos. </li>
<li>Mantener un correcto orden y aseo personal para las actividades y la atención terapéutica. </li>
<li>En caso de que no pueda asistir a las actividades, debe pasar la novedad por escrito; con tres faltas de asistencia injustificadas y sin soporte su matrícula en el programa es cancelada.</li>
<li>Presentar el carnet en las actividades programadas.</li>
<li>Brindar buen trato a funcionarios y compañeros, de lo contrario se realizará la observación en la ficha de matrícula.</li>
<li>No agredir física ni verbalmente a usuarios compañeros o funcionarios del programa.  </li>

<br>

<h2>
COMPROMISOS Y CONDICIONES ESPECÍFICAS</h2>
<input id="text"style="width: 650px; height: 150px" size="32" name="compromisos_condiciones"><br>
<br>

<h2>Nombre del usuario/acudiente: <input type="text" name="nombre_adulto_mayor_acudiente"><br></h2>

<h2>Funcionario que diligencia la ficha</h2>
Nombre: <input type="text" name="nombre_funcionario"><br>
CC: <input type="text" name="numero_identificacion"><br> 

Cargo: <input type="text" name="cargo"><br> 

Registro profesional: <input type="text" name="registro_profesional"><br> 

 

<input type="submit" name="Guardar">
<input type="reset" name="Limpiar">

<footer>
  <div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-6 text-left">
           
        
 
        
    
   <div style="text-align: center;">
        <img src="img/alcaldias.png" alt="Logo del encabezado" width="500"/>
    </div>

</nav>
</div>
</div>
</div>
</footer>
</form>
		</body>
	</html>