<!doctype html>
<html>
<head>

	<title>Historia Gerontológica</title>
    <link rel="stylesheet" type="text/css" href="css/css.css">
    <link rel="icon" href="img/html.png">
    <meta charset="utf-8">


</head>

<font face= "Time new roman"> 

<body>

			<ul class="menu">


	<li class="current"><a href="index.html">Programa Gerontológico Adulto Mayor</a></li>
	<li><a href="Ficha.html">Ficha De Matricula</a></li>
	<li><a href="Historia.html">Historia Gerontológica</a></li>
	<li ><a href="Valoraciones.html">Valoraciones Biopsicosociales</a></li>
    <li ><a href="instrumento.html">Instrumento</a></li>
	<li><a href="visitas.html">Visitas Domiciliarias</a></li>
			
	
   <div>
        <img src="img/alcaldias.png" alt="Logo del encabezado" width="1"/>
    </div>
    </ul>
         
 <!-- INICIO--> 
 <form action="" class="formulario" id= "formulario">
 	<p><h1>INFORME DE VALORACIÓN</h1><p>
 




 <form action="" class="formulario" id= "formulario">


			<ul class="valoracion">
	
<ul> 
            <li><h3><a href="escala_lawtonybrody.html">Escala Lawton y Brody (Actividades instrumentales de la vida diaria)</a></h3></li>
            <li><h3><a href="examen_estadomental.html">Mini examen del estado mental </a></h3></li>
            <li><h3><a href="escala_depresion.html">Escala de depresión geriátrica de yesavage </a></h3></li>
        </ul>

 </li>
 </ul>

			
<a href="escala_lawtonybrody.html"></a>





</body>
</html>

</form>

		</body>