<!DOCTYPE html>

<html>
<head>
	
	<title>INFORME DE VISITA DOMICILIARIA</title>
    <link rel="stylesheet" type="text/css" href="css/css.css">
    <link rel="icon" href="img/html.png">
    <font face= "Time new roman">
    <meta charset="utf-8">

</head>

<body>

	

			<ul class="menu">


	<li class="current"><a href="index.html">Programa Gerontológico Adulto Mayor</a></li>
	<li><a href="Ficha.html">Ficha De Matricula</a></li>
	<li><a href="Historia.html">Historia Gerontológica</a></li>
	<li ><a href="Valoraciones.html">Valoraciones Biopsicosociales</a></li>
    <li ><a href="instrumento.html">Instrumento</a></li>
	<li><a href="visitas.html">Visitas Domiciliarias</a></li>
			
	
   <div>
        <img src="img/alcaldias.png" alt="Logo del encabezado" width="1"/>
   </div>
            </ul>

<form action="" class="formulario" id= "formulario">

<h1>INFORME DE VISITA DOMICILIARIA</h1>

<br>

<h2>1. INFORMACIÓN GENERAL</h2> 
<br>

Fecha de la visita: <input type="text" name="fecha_visita"><br>

Solicitante: <input type="text" name="solicitante"><br> 

Datos del quien realiza la visita: <input type="text" name="datos_visita"><br> 


<h2>2. DATOS BÁSICOS DEL SUJETO DE PROTECCIÓN</h2>
<br>

Nombre completo: <input type="text" name="nombre_completo"><br>

Edad:<input type="text" name="edad"><br>

<h2>3. DATOS DE LA PERSONA QUE ATIENDE LA VISITA</h2>
<br>
 
Nombres y apellidos: <input type="text" name="nombres_atiende_visita"><br>

Tipo y número de documento de identidad:  <input type="text" name="tipo_numero_documento"><br>      

Fecha de Nacimiento: <input type="text" name="fecha_nacimiento"><br>  

Edad: <input type="text" name="edad"><br>

Dirección de residencia: <input type="text" name="direccion_residencial"><br>                                                              

Teléfono: <input type="text" name="telefono"><br>

<h2>4. OBJETIVO:</h2>
<br>

<input id="text"style="width: 650px; height: 200px" size="32" name="objetivo"><br>

<h2>5. COMPOSICIÓN FAMILIAR ACTUAL</h2>
<br>

<TABLE BORDER="1"width="102%" height="45" >
	


<tr><td ><b>NOMBRES Y APELLIDOS</b></td> <td><b>PARENTESCO</b></td> <td width="58"><b>EDAD</b></td> <td><b>ESCOLARIDAD</b></td> <td><b>ESTADO CIVIL</b></td> <td><b>ACTIVIDAD</b></td> <td><b>OCUPACIÓN</b></td></tr>

<tr> <td><input id="text"style="width: 280px; height: 30px" size="32" name="apariencia"></td> 
<td><input id="text"style="width: 100px; height: 30px" size="32" name="apariencia"></td> 
<td><input id="text"style="width: 40px; height: 30px" size="32" name="apariencia"></td>  
<td><select name="tabla" style="width: 80px";>
	<option value="si">--Seleccione--</option>
	<option value="si">No escolarizado</option>
	<option value="no">Primaria completa</option>
	<option value="no">Primaria Incompleta</option>
	<option value="si">Bachiller</option>
	<option value="no">Tecnólogo</option>
	<option value="si">Universitario</option>
	<option value="no">Posgrado</option>
</select></td>    
<td><select name="tabla" style="width: 80px";>
	<option value="si">--Seleccione--</option>
	<option value="si">Soltero</option>
	<option value="no">Casado</option>
	<option value="no">Divorciado</option>
	<option value="si">Union Marital de Hecho (Union Libre)</option>
	<option value="no">Viudo</option>
	
</select></td>
<td><select name="tabla" style="width: 80px";>
	<option value="si">--Seleccione--</option>
	<option value="si">Trabajando</option>
	<option value="no">Buscando Trabajo</option>
	<option value="no">Estudiando</option>
	<option value="si">Oficios del Hogar</option>
	<option value="no">Rentista</option>
	<option value="si">Pensionado</option>
	<option value="no">Incapacidad permanente para trabajar</option>
	<option value="no">Sin actividad</option>
</select></td>
<td><select name="tabla" style="width: 80px";>
	<option value="si">--Seleccione--</option>
	<option value="si">Empleado particular</option>
	<option value="no">Empleado del Estado</option>
	<option value="no">Empleador</option>
	<option value="si">Trabajador por cuenta propia</option>
	<option value="no">Empleado domestico</option>
	<option value="si">Jornalero</option>
	<option value="no">Trabajo por horas</option>
	
</select></td>


</tr>

<tr> <td><input id="text"style="width: 280px; height: 30px" size="32" name="apariencia"></td> 
<td><input id="text"style="width: 100px; height: 30px" size="32" name="apariencia"></td> 
<td><input id="text"style="width: 40px; height: 30px" size="32" name="apariencia"></td> 
<td><select name="tabla" style="width: 80px";>
	<option value="si">--Seleccione--</option>
	<option value="si">No escolarizado</option>
	<option value="no">Primaria completa</option>
	<option value="no">Primaria Incompleta</option>
	<option value="si">Bachiller</option>
	<option value="no">Tecnólogo</option>
	<option value="si">Universitario</option>
	<option value="no">Posgrado</option>
</select></td>    
<td><select name="tabla" style="width: 80px";>
	<option value="si">--Seleccione--</option>
	<option value="si">Soltero</option>
	<option value="no">Casado</option>
	<option value="no">Divorciado</option>
	<option value="si">Union Marital de Hecho (Union Libre)</option>
	<option value="no">Viudo</option>
	
</select></td>
<td><select name="tabla" style="width: 80px";>
	<option value="si">--Seleccione--</option>
	<option value="si">Trabajando</option>
	<option value="no">Buscando Trabajo</option>
	<option value="no">Estudiando</option>
	<option value="si">Oficios del Hogar</option>
	<option value="no">Rentista</option>
	<option value="si">Pensionado</option>
	<option value="no">Incapacidad permanente para trabajar</option>
	<option value="no">Sin actividad</option>
</select></td>
<td><select name="tabla" style="width: 80px";>
	<option value="si">--Seleccione--</option>
	<option value="si">Empleado particular</option>
	<option value="no">Empleado del Estado</option>
	<option value="no">Empleador</option>
	<option value="si">Trabajador por cuenta propia</option>
	<option value="no">Empleado domestico</option>
	<option value="si">Jornalero</option>
	<option value="no">Trabajo por horas</option>
	
</select></td>


</tr>

<tr> <td><input id="text"style="width: 280px; height: 30px" size="32" name="apariencia"></td> 
<td><input id="text"style="width: 100px; height: 30px" size="32" name="apariencia"></td> 
<td><input id="text"style="width: 40px; height: 30px" size="32" name="apariencia"></td>   
<td><select name="tabla" style="width: 80px";>
	<option value="si">--Seleccione--</option>
	<option value="si">No escolarizado</option>
	<option value="no">Primaria completa</option>
	<option value="no">Primaria Incompleta</option>
	<option value="si">Bachiller</option>
	<option value="no">Tecnólogo</option>
	<option value="si">Universitario</option>
	<option value="no">Posgrado</option>
</select></td>    
<td><select name="tabla" style="width: 80px";>
	<option value="si">--Seleccione--</option>
	<option value="si">Soltero</option>
	<option value="no">Casado</option>
	<option value="no">Divorciado</option>
	<option value="si">Union Marital de Hecho (Union Libre)</option>
	<option value="no">Viudo</option>
	
</select></td>
<td><select name="tabla" style="width: 80px";>
	<option value="si">--Seleccione--</option>
	<option value="si">Trabajando</option>
	<option value="no">Buscando Trabajo</option>
	<option value="no">Estudiando</option>
	<option value="si">Oficios del Hogar</option>
	<option value="no">Rentista</option>
	<option value="si">Pensionado</option>
	<option value="no">Incapacidad permanente para trabajar</option>
	<option value="no">Sin actividad</option>
</select></td>
<td><select name="tabla" style="width: 80px";>
	<option value="si">--Seleccione--</option>
	<option value="si">Empleado particular</option>
	<option value="no">Empleado del Estado</option>
	<option value="no">Empleador</option>
	<option value="si">Trabajador por cuenta propia</option>
	<option value="no">Empleado domestico</option>
	<option value="si">Jornalero</option>
	<option value="no">Trabajo por horas</option>
	
</select></td>


</tr>

<tr> <td><input id="text"style="width: 280px; height: 30px" size="32" name="apariencia"></td> 
<td><input id="text"style="width: 100px; height: 30px" size="32" name="apariencia"></td> 
<td><input id="text"style="width: 40px; height: 30px" size="32" name="apariencia"></td>  
<td><select name="tabla" style="width: 80px";>
	<option value="si">--Seleccione--</option>
	<option value="si">No escolarizado</option>
	<option value="no">Primaria completa</option>
	<option value="no">Primaria Incompleta</option>
	<option value="si">Bachiller</option>
	<option value="no">Tecnólogo</option>
	<option value="si">Universitario</option>
	<option value="no">Posgrado</option>
</select></td>    
<td><select name="tabla" style="width: 80px";>
	<option value="si">--Seleccione--</option>
	<option value="si">Soltero</option>
	<option value="no">Casado</option>
	<option value="no">Divorciado</option>
	<option value="si">Union Marital de Hecho (Union Libre)</option>
	<option value="no">Viudo</option>
	
</select></td>
<td><select name="tabla" style="width: 80px";>
	<option value="si">--Seleccione--</option>
	<option value="si">Trabajando</option>
	<option value="no">Buscando Trabajo</option>
	<option value="no">Estudiando</option>
	<option value="si">Oficios del Hogar</option>
	<option value="no">Rentista</option>
	<option value="si">Pensionado</option>
	<option value="no">Incapacidad permanente para trabajar</option>
	<option value="no">Sin actividad</option>
</select></td>
<td><select name="tabla" style="width: 80px";>
	<option value="si">--Seleccione--</option>
	<option value="si">Empleado particular</option>
	<option value="no">Empleado del Estado</option>
	<option value="no">Empleador</option>
	<option value="si">Trabajador por cuenta propia</option>
	<option value="no">Empleado domestico</option>
	<option value="si">Jornalero</option>
	<option value="no">Trabajo por horas</option>
	
</select></td>


</tr>

<tr> <td><input id="text"style="width: 280px; height: 30px" size="32" name="apariencia"></td> 
<td><input id="text"style="width: 100px; height: 30px" size="32" name="apariencia"></td> 
<td><input id="text"style="width: 40px; height: 30px" size="32" name="apariencia"></td>  
<td><select name="tabla" style="width: 80px";>
	<option value="si">--Seleccione--</option>
	<option value="si">No escolarizado</option>
	<option value="no">Primaria completa</option>
	<option value="no">Primaria Incompleta</option>
	<option value="si">Bachiller</option>
	<option value="no">Tecnólogo</option>
	<option value="si">Universitario</option>
	<option value="no">Posgrado</option>
</select></td>    
<td><select name="tabla" style="width: 80px";>
	<option value="si">--Seleccione--</option>
	<option value="si">Soltero</option>
	<option value="no">Casado</option>
	<option value="no">Divorciado</option>
	<option value="si">Union Marital de Hecho (Union Libre)</option>
	<option value="no">Viudo</option>
	
</select></td>
<td><select name="tabla" style="width: 80px";>
	<option value="si">--Seleccione--</option>
	<option value="si">Trabajando</option>
	<option value="no">Buscando Trabajo</option>
	<option value="no">Estudiando</option>
	<option value="si">Oficios del Hogar</option>
	<option value="no">Rentista</option>
	<option value="si">Pensionado</option>
	<option value="no">Incapacidad permanente para trabajar</option>
	<option value="no">Sin actividad</option>
</select></td>
<td><select name="tabla" style="width: 80px";>
	<option value="si">--Seleccione--</option>
	<option value="si">Empleado particular</option>
	<option value="no">Empleado del Estado</option>
	<option value="no">Empleador</option>
	<option value="si">Trabajador por cuenta propia</option>
	<option value="no">Empleado domestico</option>
	<option value="si">Jornalero</option>
	<option value="no">Trabajo por horas</option>
	
</select></td>


</tr>

<tr> <td><input id="text"style="width: 280px; height: 30px" size="32" name="apariencia"></td> 
<td><input id="text"style="width: 100px; height: 30px" size="32" name="apariencia"></td> 
<td><input id="text"style="width: 40px; height: 30px" size="32" name="apariencia"></td>  
<td><select name="tabla" style="width: 80px";>
	<option value="si">--Seleccione--</option>
	<option value="si">No escolarizado</option>
	<option value="no">Primaria completa</option>
	<option value="no">Primaria Incompleta</option>
	<option value="si">Bachiller</option>
	<option value="no">Tecnólogo</option>
	<option value="si">Universitario</option>
	<option value="no">Posgrado</option>
</select></td>    
<td><select name="tabla" style="width: 80px";>
	<option value="si">--Seleccione--</option>
	<option value="si">Soltero</option>
	<option value="no">Casado</option>
	<option value="no">Divorciado</option>
	<option value="si">Union Marital de Hecho (Union Libre)</option>
	<option value="no">Viudo</option>
	
</select></td>
<td><select name="tabla" style="width: 80px";>
	<option value="si">--Seleccione--</option>
	<option value="si">Trabajando</option>
	<option value="no">Buscando Trabajo</option>
	<option value="no">Estudiando</option>
	<option value="si">Oficios del Hogar</option>
	<option value="no">Rentista</option>
	<option value="si">Pensionado</option>
	<option value="no">Incapacidad permanente para trabajar</option>
	<option value="no">Sin actividad</option>
</select></td>
<td><select name="tabla" style="width: 80px";>
	<option value="si">--Seleccione--</option>
	<option value="si">Empleado particular</option>
	<option value="no">Empleado del Estado</option>
	<option value="no">Empleador</option>
	<option value="si">Trabajador por cuenta propia</option>
	<option value="no">Empleado domestico</option>
	<option value="si">Jornalero</option>
	<option value="no">Trabajo por horas</option>
	
</select></td>

</tr>

<tr> <td><input id="text"style="width: 280px; height: 30px" size="32" name="apariencia"></td> 
<td><input id="text"style="width: 100px; height: 30px" size="32" name="apariencia"></td> 
<td><input id="text"style="width: 40px; height: 30px" size="32" name="apariencia"></td>  
<td><select name="tabla" style="width: 80px";>
	<option value="si">--Seleccione--</option>
	<option value="si">No escolarizado</option>
	<option value="no">Primaria completa</option>
	<option value="no">Primaria Incompleta</option>
	<option value="si">Bachiller</option>
	<option value="no">Tecnólogo</option>
	<option value="si">Universitario</option>
	<option value="no">Posgrado</option>
</select></td>    
<td><select name="tabla" style="width: 80px";>
	<option value="si">--Seleccione--</option>
	<option value="si">Soltero</option>
	<option value="no">Casado</option>
	<option value="no">Divorciado</option>
	<option value="si">Union Marital de Hecho (Union Libre)</option>
	<option value="no">Viudo</option>
	
</select></td>
<td><select name="tabla" style="width: 80px";>
	<option value="si">--Seleccione--</option>
	<option value="si">Trabajando</option>
	<option value="no">Buscando Trabajo</option>
	<option value="no">Estudiando</option>
	<option value="si">Oficios del Hogar</option>
	<option value="no">Rentista</option>
	<option value="si">Pensionado</option>
	<option value="no">Incapacidad permanente para trabajar</option>
	<option value="no">Sin actividad</option>
</select></td>
<td><select name="tabla" style="width: 80px";>
	<option value="si">--Seleccione--</option>
	<option value="si">Empleado particular</option>
	<option value="no">Empleado del Estado</option>
	<option value="no">Empleador</option>
	<option value="si">Trabajador por cuenta propia</option>
	<option value="no">Empleado domestico</option>
	<option value="si">Jornalero</option>
	<option value="no">Trabajo por horas</option>
	
</select></td>


</tr>

<tr> <td><input id="text"style="width: 280px; height: 30px" size="32" name="apariencia"></td> 
<td><input id="text"style="width: 100px; height: 30px" size="32" name="apariencia"></td> 
<td><input id="text"style="width: 40px; height: 30px" size="32" name="apariencia"></td>  
<td><select name="tabla" style="width: 80px";>
	<option value="si">--Seleccione--</option>
	<option value="si">No escolarizado</option>
	<option value="no">Primaria completa</option>
	<option value="no">Primaria Incompleta</option>
	<option value="si">Bachiller</option>
	<option value="no">Tecnólogo</option>
	<option value="si">Universitario</option>
	<option value="no">Posgrado</option>
</select></td>    
<td><select name="tabla" style="width: 80px";>
	<option value="si">--Seleccione--</option>
	<option value="si">Soltero</option>
	<option value="no">Casado</option>
	<option value="no">Divorciado</option>
	<option value="si">Union Marital de Hecho (Union Libre)</option>
	<option value="no">Viudo</option>
	
</select></td>
<td><select name="tabla" style="width: 80px";>
	<option value="si">--Seleccione--</option>
	<option value="si">Trabajando</option>
	<option value="no">Buscando Trabajo</option>
	<option value="no">Estudiando</option>
	<option value="si">Oficios del Hogar</option>
	<option value="no">Rentista</option>
	<option value="si">Pensionado</option>
	<option value="no">Incapacidad permanente para trabajar</option>
	<option value="no">Sin actividad</option>
</select></td>
<td><select name="tabla" style="width: 80px";>
	<option value="si">--Seleccione--</option>
	<option value="si">Empleado particular</option>
	<option value="no">Empleado del Estado</option>
	<option value="no">Empleador</option>
	<option value="si">Trabajador por cuenta propia</option>
	<option value="no">Empleado domestico</option>
	<option value="si">Jornalero</option>
	<option value="no">Trabajo por horas</option>
	
</select></td>


</tr>

<tr> <td><input id="text"style="width: 280px; height: 30px" size="32" name="apariencia"></td> 
<td><input id="text"style="width: 100px; height: 30px" size="32" name="apariencia"></td> 
<td><input id="text"style="width: 40px; height: 30px" size="32" name="apariencia"></td> 
<td><select name="tabla" style="width: 80px";>
	<option value="si">--Seleccione--</option>
	<option value="si">No escolarizado</option>
	<option value="no">Primaria completa</option>
	<option value="no">Primaria Incompleta</option>
	<option value="si">Bachiller</option>
	<option value="no">Tecnólogo</option>
	<option value="si">Universitario</option>
	<option value="no">Posgrado</option>
</select></td>    
<td><select name="tabla" style="width: 80px";>
	<option value="si">--Seleccione--</option>
	<option value="si">Soltero</option>
	<option value="no">Casado</option>
	<option value="no">Divorciado</option>
	<option value="si">Union Marital de Hecho (Union Libre)</option>
	<option value="no">Viudo</option>
	
</select></td>
<td><select name="tabla" style="width: 80px";>
	<option value="si">--Seleccione--</option>
	<option value="si">Trabajando</option>
	<option value="no">Buscando Trabajo</option>
	<option value="no">Estudiando</option>
	<option value="si">Oficios del Hogar</option>
	<option value="no">Rentista</option>
	<option value="si">Pensionado</option>
	<option value="no">Incapacidad permanente para trabajar</option>
	<option value="no">Sin actividad</option>
</select></td>
<td><select name="tabla" style="width: 80px";>
	<option value="si">--Seleccione--</option>
	<option value="si">Empleado particular</option>
	<option value="no">Empleado del Estado</option>
	<option value="no">Empleador</option>
	<option value="si">Trabajador por cuenta propia</option>
	<option value="no">Empleado domestico</option>
	<option value="si">Jornalero</option>
	<option value="no">Trabajo por horas</option>
	
</select></td>


</tr>

<tr> <td><input id="text"style="width: 280px; height: 30px" size="32" name="apariencia"></td> 
<td><input id="text"style="width: 100px; height: 30px" size="32" name="apariencia"></td> 
<td><input id="text"style="width: 40px; height: 30px" size="32" name="apariencia"></td>  
<td><select name="tabla" style="width: 80px";>
	<option value="si">--Seleccione--</option>
	<option value="si">No escolarizado</option>
	<option value="no">Primaria completa</option>
	<option value="no">Primaria Incompleta</option>
	<option value="si">Bachiller</option>
	<option value="no">Tecnólogo</option>
	<option value="si">Universitario</option>
	<option value="no">Posgrado</option>
</select></td>    
<td><select name="tabla" style="width: 80px";>
	<option value="si">--Seleccione--</option>
	<option value="si">Soltero</option>
	<option value="no">Casado</option>
	<option value="no">Divorciado</option>
	<option value="si">Union Marital de Hecho (Union Libre)</option>
	<option value="no">Viudo</option>
	
</select></td>
<td><select name="tabla" style="width: 80px";>

	<option value="si">--Seleccione--</option>
	<option value="si">Trabajando</option>
	<option value="no">Buscando Trabajo</option>
	<option value="no">Estudiando</option>
	<option value="si">Oficios del Hogar</option>
	<option value="no">Rentista</option>
	<option value="si">Pensionado</option>
	<option value="no">Incapacidad permanente para trabajar</option>
	<option value="no">Sin actividad</option>
</select></td>
<td><select name="tabla" style="width: 80px";>
	<option value="si">--Seleccione--</option>
	<option value="si">Empleado particular</option>
	<option value="no">Empleado del Estado</option>
	<option value="no">Empleador</option>
	<option value="si">Trabajador por cuenta propia</option>
	<option value="no">Empleado domestico</option>
	<option value="si">Jornalero</option>
	<option value="no">Trabajo por horas</option>
	
</select></td>


</tr>
</TABLE>
<br>

<h2> 6. DESARROLLO </h2>
<br>

<input id="text"style="width: 650px; height: 300px" size="32" name="desarrollo"><br>


<h2> 7. GENOGRAMA </h2>
<br>

<h2> 8. CONDICIONES HABITACIONALES Y ASPECTOS SOCIO ECONÓMICOS </h2> 
<br>

<h2>Tipo de vivienda: <br> </h2>
<br>

<select name="tipo_vivienda" style="width: 400px";>
	<option value="seleccione">--Seleccione--</option>
	<option value="propia">Propia</option>
	<option value="familiar">Familiar</option>
	<option value="arrendada">Arrendada</option>
	<option value="otra_cual">Otra. ¿Cual?:</option>
</select>
<br>

<h2>Tenencia de la vivienda: <br> </h2>
<select name="tenencia_vivienda" style="width: 400px";>
	<option value="seleccione">--Seleccione--</option>
	<option value="si">Si</option>
	<option value="no">No</option>
</select>
	<br>
Estrato: <input type="text" name="estrato">
<h2>Ubicación:</h2>

<select name="ubicacion" style="width: 400px";>
	<option value="seleccione">--Seleccione--</option>
	<option value="urbana">Urbana</option>
	<option value="rural">Rural</option>
</select>

 <br>	

<h2>Tiempo de permanencia en la vivienda: </h2><input type="text" name="tiempo_permanencia_vivienda"><br>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


           
<h2>Su vivienda cuenta con servicios públicos completos:</h2>
<br>

<h2>Equipamiento de Servicios públicos:	<br> </h2>

<label><select name="acueducto" style="width: 100px";>
	 
	<option value="si">Si</option>
	<option value="no">No</option>
</select>Acueducto y alcantarillado<br> </label>

 <br>
 <label><select name="energia" style="width: 100px";>
	 
	<option value="si">Si</option>
	<option value="no">No</option>
</select>Energía<br> </label>

 <br>
 <label><select name="manejo_basuras" style="width: 100px";>
	 
	<option value="si">Si</option>
	<option value="no">No</option>
</select>Manejo de basuras<br> </label>

 <br>
 <label><select name="gas_domiciliario" style="width: 100px";>
	 
	<option value="si">Si</option>
	<option value="no">No</option>
</select>Gas domiciliario<br> </label>

 <br>
 <label><select name="television" style="width: 100px";>
	 
	<option value="si">Si</option>
	<option value="no">No</option>
</select>Televisión<br> </label>

 <br>
 <label><select name="internet" style="width: 100px";>
	 
	<option value="si">Si</option>
	<option value="no">No</option>
</select>Internet<br> </label>

 <br>


 <br>
<br>
<h2>Distribución de Espacios: <br> </h2>
<br>
	
Número de habitaciones: <input type="text" name="numero_habitaciones"><br> 
Número de residentes en el mismo techo:<input type="text" name="numero_residentes"><br>	
Otros espacios: <input type="text" name="otros_espacios"><br>


<h2>Descripción de la vivienda y riesgos estructurales:<br> </h2>

<input id="text"style="width: 650px; height: 150px" size="32" name="descripcion_vivienda"><br>	

<h2>Apropiación de recursos económicos: Ingreso y distribución.<br> </h2>

<input id="text"style="width: 650px; height: 150px" size="32" name="apropiacion_recursos"><br>
	

<h2>Observaciones Adicionales:<br> </h2>

<input id="text"style="width: 650px; height: 150px" size="32" name="observaciones_adicionales"><br>	


<h2>9. CONCEPTO</h2> 
<input id="text"style="width: 650px; height: 300px" size="32" name="concepto"><br>

<h1>INFORME DE VALORACIÓN</h1>
<br>
<h2> 1.DATOS DE LA PERSONA A LA QUE SE REALIZÓ LA EVALUACIÓN </h2>
<br>
Nombre:	<input type="text" name="nombre_encuestado"><br>
Cédula:	<input type="text" name="numero_identificacion_encuestado"><br>
Lugar de residencia: <input type="text" name="residencia_encuestado"><br>	
Edad: <input type="text" name="edad_encuestado"><br>	
Teléfono: <input type="text" name="telefono_encuestado"><br>
				
<h2>2.DESCRIPCIÓN DE LA ACTIVIDAD REALIZADA</h2>
<br>
Fecha de inicio del proceso: <input type="text" name="fecha_inicio_proceso"><br>

Profesional encargado de la actividad: <input type="text" name="profesional_encargado"><br>

<h2>3.OBSERVACIONES</h2>
<br>
<input id="text"style="width: 650px; height: 300px" size="32" name="observaciones"><br>

<h2><b>PROFESIONAL QUE REALIZA LA VISITA</b></h2>

<br>
Nombre: <input type="text" name="nombre_funcionario"><br>

Cargo: <input type="text" name="cargo"><br> 

Registro profesional: <input type="text" name="registro_profesional"><br> 



<input type="submit" name="Guardar">
<input type="reset" name="Limpiar">

<footer>
  <div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-6 text-left">
           
        
 
        
    
   <div style="text-align: center;">
        <img src="img/alcaldias.png" alt="Logo del encabezado" width="500"/>
    </div>

</nav>
</div>
</div>
</div>
</footer>
</form>


		</body>
		<html>